.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.ingredients-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}
.ingredients-list ul {
    list-style: none;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: flex-start;
}
.ingredients-list li {
    list-style: none;
}
.cocktail-image {
    width: 20rem;
    height: auto;
    border-radius: 10rem;
    overflow: hidden;
}
.cocktail-image img {
    width: 100%;
    height: auto;
}
.cocktail-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
    align-items: center;
    margin: 5rem 10rem;
}
